.header {
  font-size: 25px;
  padding-bottom: 10px;
  background: #aaa;
  color: #000;
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 320px;
  z-index: 2;
  /* border-bottom: 3px solid #aaa; */
  /* border: 3px solid crimson; */
  overflow: hidden;
}

.header .back-icon {
  margin: auto 30px auto 0;
  font-size: 25px;
  cursor: pointer;
  margin-right: 30px;
  /* transition: all 0.3s ease; */
}

.header .back-icon:hover {
  color: crimson;
  /* transform: scale(1.2); */
}

.header .text {
  display: inline-block;
  margin: 0 20px;
}

.body-container {
  padding: 50px 0 0 0;
}
